.form__notice--alert__text {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0 0 2rem 2rem;
  color: white;
  background-color: var(--clr-green);
  max-width: max-content;
}

.form__title {
  margin: 2rem 0 0;
  font-size: 1.5rem;
}

.form__description {
  margin: 0;
  font-size: 1.125rem;
}
